:root {
    --black: #000;
    --grey: #5f5e5e;
    --green: #71c63e;
    --grey-line: #a1a1a1;
    --light-grey: #d8d8d8;
    --dark-blue-background: #05323a;
    --dark-blue-title: #057a8f;
    --font: "Hind", sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font);
}

.container__all {
    max-width: 1110px;
}

/* SIDE
=============================== */

a {
    color: var(--white);

    &:hover {
        color: rgb(218, 218, 218);
        text-decoration: none;
    }
}

.side {
    background-color: var(--dark-blue-background);
    color: var(--white);
}

.photo {
    width: 230px;
    height: 230px;
    border-radius: 50%;
    border: 2px solid var(--light-grey);
    margin: 57px auto -20px auto; /* сверху | справа | снизу | слева */
    overflow: hidden;
    position: relative;
    box-shadow: -5px -5px 30px 3px rgba(0, 0, 0, 0.8), 5px 5px 20px 3px rgba(255, 255, 255, 0.3);
}

.image {
    width: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.information {
    margin-top: 60px;
    margin-left: 10px;

    &__title {
        text-transform: uppercase;
        letter-spacing: 3.3px;
        font-weight: 600;

        &--line {
            height: 3px;
            border-radius: 50%;
            background-color: var(--light-grey);
            margin-bottom: 30px;
        }
    }

    &__intro {
        margin-left: 30px;
        margin-bottom: 12px;
    }

    &__name {
        font-size: 22px;
        font-weight: 600;
    }

    &__text {
        opacity: 0.7;
        font-size: 16px;
        margin-top: -10px;
        font-weight: 500;
        line-height: 25px;
        padding-top: 6px;
        word-wrap: break-word;
    }
}

/* MAIN
==================================== */
.container__main {
    max-width: 776px;
}

.heading {
    font-size: 62px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 78px;

    &__wrap {
        word-wrap: break-word;
    }
}

.prof {
    font-size: 21px;
    font-weight: 500;
    color: var(--grey);
    letter-spacing: 6px;
    margin-top: 30px;
}

.time {
    &__info {
        padding-bottom: 12px;
    }

    &__name {
        color: var(--dark-blue-title);
        font-size: 25px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 3px;
        padding-bottom: 15px;
    }

    &__line {
        height: 3px;
        border-radius: 50%;
        background-color: var(--grey-line);
        margin-bottom: 30px;
        margin-top: 40px;
    }
}

.job {
    padding-right: 40px;
    position: relative;
    width: 40%;

    &::before {
        content: "";
        width: 15px;
        height: 15px;
        background-color: var(--grey);
        display: block;
        border-radius: 50%;
        position: absolute;
        left: calc(100% - 7px);
        top: 13px;
    }

    &::after {
        content: "";
        width: 1px;
        height: 100%;
        background-color: var(--grey);
        display: block;
        border-radius: 50%;
        position: absolute;
        left: 100%;
        top: 25px;
    }

    &__name {
        font-size: 25px;
        font-weight: 600;
        line-height: 25px;
        margin-top: 7px;
        word-wrap: break-word;
    }

    &__year {
        font-size: 20px;
        font-weight: 500;
        opacity: 0.7;
        margin-top: -3px;
        word-wrap: normal;
        word-wrap: break-word;
    }
}

.position {
    padding-left: 40px;
    width: calc(60% - 80px);

    &__name {
        font-size: 25px;
        font-weight: 600;
        line-height: 25px;
        margin-top: 7px;
    }

    &__text {
        font-size: 20px;
        font-weight: 500;
        opacity: 0.7;
        line-height: 25px;
    }
}

/* SKILLS
====================== */

.skills {
    &__title {
        color: var(--dark-blue-title);
        font-size: 25px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 3px;
        margin-bottom: 25px;
    }

    &__level {
        width: 80%;
        height: 9px;
        background-color: var(--light-grey);
        border-radius: 20px;
        position: relative;
        margin-bottom: 15px;

        &::before {
            content: "";
            display: block;
            position: absolute;
            height: 100%;
            width: 90%;
            background-color: var(--black);
            border-radius: 20px 0 0 20px;
        }
    }

    &__name {
        font-size: 20px;
        font-weight: 500;
        opacity: 0.7;
        margin-bottom: 3px;

        &--autoCAD::before {
            width: 60%;
        }

        &--revit::before {
            width: 60%;
        }

        &--figma::before {
            width: 80%;
        }

        &--en::before {
            width: 65%;
        }

        &--ua::before {
            width: 90%;
        }

        &--ru::before {
            width: 90%;
        }
    }

    &__pro {
        width: 100%;
        padding-left: 20%;
    }
}

/* INTERESTS 
============================== */
.interests__title {
    color: var(--dark-blue-title);
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 25px;
}

.interests__item {
    font-size: 20px;
    font-weight: 500;
    opacity: 0.7;
    border: 3px solid var(--light-grey);
    border-radius: 100px;
    display: inline-block;
    width: 150px;
    text-align: center;
    margin-right: 8px;
    margin-bottom: 40px;
}

/* =============================
   RESPONSIVE DESIGN 
   ============================= */

/* ≤1200px */
@media screen and (max-width: 1200px) {
    .container__all {
        max-width: 1000px;
    }

    .heading {
        font-size: 54px;
    }

    .prof {
        font-size: 18px;
        letter-spacing: 8px;
    }

    .photo {
        width: 200px;
        height: 200px;
    }
    /* 2. Фото пропорційно в колі */
    .photo {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .photo img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 50%;
    }
}

/* ≤992px */
@media screen and (max-width: 992px) {
    .container__all {
        max-width: 90%;
    }

    .heading {
        font-size: 46px;
    }

    .prof {
        font-size: 17px;
        letter-spacing: 6px;
    }

    .information__name {
        font-size: 20px;
    }

    .information__text {
        font-size: 15px;
    }

    .job__name,
    .position__name {
        font-size: 22px;
    }

    .job__year,
    .position__text {
        font-size: 18px;
    }

    .skills__name,
    .interests__item {
        font-size: 18px;
    }
}

/* ≤768px */
@media screen and (max-width: 768px) {
    /* 1. Центрування іконок Website / Social */
    .information__intro .information__text a {
        display: flex;
        justify-content: center;
        margin-left: -25px;
    }

    /* 2. Зменшення шрифтів, збереження структури */
    .heading {
        font-size: 40px;
    }

    .prof {
        font-size: 16px;
        letter-spacing: 4px;
    }

    .information__name {
        font-size: 18px;
    }

    .information__text {
        font-size: 14px;
    }

    .job__name,
    .position__name {
        font-size: 20px;
    }

    .job__year,
    .position__text {
        font-size: 15px;
    }

    /* 3. Лінії Info / Social у старому стилі */
    .information__title--line {
        height: 3px;
        border-radius: 50%;
        background: linear-gradient(
            to right,
            transparent 0%,
            var(--light-grey) 20%,
            var(--light-grey) 80%,
            transparent 100%
        );
        margin-bottom: 25px;
    }

    /* 4. Skills та Language – повернення до початкових відступів */
    .skills__pro {
        padding-left: 20%;
    }

    .skills__level {
        width: 80%;
    }

    .skills__name {
        font-size: 17px;
    }

    /* 5. Інтереси – компактніше */
    .interests__item {
        width: 45%;
        margin-bottom: 20px;
    }

    /* 1. Центрування всього контенту Info та Social */
    .information {
        text-align: center;

        &__intro,
        &__name,
        &__text,
        &__title {
            text-align: center;
            margin-left: 0;
            margin-right: 0;
        }

        &__title--line {
            margin: 0 auto 25px auto;
        }
    }
}

/* ≤576px */
@media screen and (max-width: 576px) {
    .container__all {
        padding: 0 10px;
    }

    /* Заголовки */
    .heading {
        font-size: 34px;
        margin-top: 40px;
    }

    .prof {
        font-size: 14px;
        letter-spacing: 3px;
    }

    /* Бокова панель */
    .photo {
        width: 180px;
        height: 180px;
    }

    .information__name {
        font-size: 17px;
    }

    .information__text {
        font-size: 13px;
    }

    .information__intro .information__text a {
        justify-content: center;
    }

    .information__title--line {
        height: 3px;
        background: linear-gradient(
            to right,
            transparent 0%,
            var(--light-grey) 25%,
            var(--light-grey) 75%,
            transparent 100%
        );
        margin: 0 auto 25px auto;
        width: 100%;
    }

    /* Main content */
    .job__name,
    .position__name {
        font-size: 18px;
    }

    .job__year,
    .position__text {
        font-size: 14px;
    }

    /* Skills */
    .skills__name {
        font-size: 15px;
    }

    .skills__pro {
        padding-left: 15%;
        padding-right: 15%;
    }

    .skills__level {
        width: 100%;
    }

    /* Interests */
    .interests__item {
        width: 100%;
        font-size: 15px;
        margin-bottom: 15px;
    }
}
